@charset "UTF-8";

@font-face {
    font-family: 'inverno';
    src: url(../fontes/inverno/Mountain.ttf)
    format('opentype')
}

@font-face {
    font-family: 'primavera-verao';
    src: url(../fontes/primaveraeverao/Tree\ Icons.otf)
    format('truetype')
}

@font-face {
    font-family: 'outono';
    src: url(../fontes/outono/wmleaves1.TTF)
    format('opentype')
}

@font-face {
    font-family: 'formas';
    src: url(../fontes/e_commerce/E-commerce.ttf)
    format('opentype')
}

@media screen and (max-width: 420px) {
    body header {
        height: 126px;
    }
    body header nav li {
        display: block;
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    body main div.espaço {
        display: block;
        margin: 20px auto;
    }
}

@media screen and (max-width: 580px) {
    body main div.espaço {
        display: block;
        margin: 20px auto;
    }
}





/*ESTILO DA PÁGINA DE BUSCAS: MEDIA QUERY*/

@media screen and (min-width: 320px) {
    body main#buscas {
        width: 90.2%;
    }
}

@media screen and (min-width: 375px) {
    body main#buscas {
        width: 91.5%;
    }
}

@media screen and (min-width: 850px) {
    body main#buscas {
        width: 62%;
    }
}

@media screen and (min-width: 1200px) {
    body main#buscas {
        width: 62%;
    }
}

@media screen and (min-width: 1600px) {
    body main#buscas {
        width: 41.4%;
    }
}


/* FIM */

/*
#156117
#77E679
#31E035
#326133
#26AD28
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

:root{
    --cor01: #156117;
    --cor02: #77E679;
    --cor03: #31E035;
    --cor04: #326133;
    --cor05: #1bdfc5;
    
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor02);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--cor01);
    text-align: center;
    height: 37px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.438);
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 8px;
    line-height: 34px;
    transition-duration: 0.2s;
}

nav li a:hover {
    background-color: var(--cor03);
}

main#home {
    background-color:white;
    margin: 40px auto;

    min-width: 280px;
    max-width: 780px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.438);
    padding: 15px 15px 30px 15px;
    border-radius: 16px;
    flex: 1 0 auto;
}

main img.principal {
    width: 100%;
}

main h1,h2 {
    text-align: center;
}

main p.textoprincipal {
    margin-bottom: 65px;
    text-align: justify;
    padding: 20px 5px;
}

main p.texto {
    text-align: justify;
    padding: 20px 5px;
}

main a {
    text-decoration: none;
    color:var(--cor01);
    font-weight: bold;
    background-color:var(--cor03);
    padding: 1px 4px 1px 4px;
}

main a.simbolo:after {
    content: '\00A0\1F517'
}

main a.simbolo:hover {
    background-color:var(--cor02)
}

abbr {
    text-decoration: none;
}

div.espaço {
    display: inline-block;
    background-color:var(--cor05);
    width: 175px;
    height: 240px;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    margin: 8px;
    position: relative;
    transition-duration: 0.3s;
}

div.espaço:hover {
    transform: scale(1.20, 1.20);
}

div.espaço p#inverno {
    font-family: 'inverno';
    font-size: 4em;
    color: white;
    position: absolute;
    top: 15px;
    left: 58px;
}

div.espaço p#primavera {
    font-family: 'primavera-verao';
    font-size: 4em;
    color: white;
    position: absolute;
    top: 7px;
    left: 80px;
}

div.espaço p#verão {
    font-family: 'primavera-verao';
    font-size: 4em;
    color: white;
    position: absolute;
    top: 7px;
    left: 80px;
}

div.espaço p#outono {
    font-family: 'outono';
    font-size: 3em;
    color: white;
    position: absolute;
    top: 17px;
    left: 80px;
}

div.espaço p.periodo {
    text-align: center;
    margin: 0px 19px;
    color: white;
    position: absolute;
    top: 90px;
    left: 0px;
}

footer {
    flex-shrink: 0;
    background-color:var(--cor01);
    padding: 8px;
    height: 50px;
}

footer p {
    color: white;
    text-align: center;
    font-weight: bold;
}





/* ESTILO DA PÁGINA DE BUSCAS*/

main#buscas {
    background-color:white;
    margin: 40px auto;

    width: 94%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.438);
    padding: 15px 15px 30px 15px;
    border-radius: 16px;
    flex: 1 0 auto;
}
div#questão {
    text-align: center;
    margin: 40px 0px 20px 0px;
}

div#questão select {
   font-size: 16px;
   padding: 5px;
}

div#questão input {
    font-size: 16px;
    padding: 5px;
}

p#lupa {
    font-family: 'formas';
    font-size: 12em;
    text-align: center;
    margin-top: 40px;
    opacity: 20%;
}

h1#estação {
    margin: 10px;
}

p#textobusca {
    margin-bottom: 40px;
    text-align: justify;
    padding: 1px 20px 1px 20px;
}

img#fotoestação {
    display: block;
    margin: 30px auto 1px auto;
    width: 95%;
}
/* FIM */





/* ESTILO DA PÁGINA TABELA */

caption {
    background-color: var(--cor01);
    border: 1px solid black;
    padding: 8px;
    height: 40px;
    font-size: 23px;
    color: white;
    line-height: 40px;
}

table {
    border-collapse: collapse;
    margin: 50px auto;
    width: 70%;
}

th {
    background-color: var(--cor01);
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    height: 40px;
    font-size: 20px;
}
/* FIM */