@charset "UTF-8";

@font-face {
    font-family: 'inverno';
    src: url(../fontes/inverno/Mountain.ttf)
    format('opentype')
}

@font-face {
    font-family: 'primavera-verao';
    src: url(../fontes/primaveraeverao/Tree\ Icons.otf)
    format('truetype')
}

@font-face {
    font-family: 'outono';
    src: url(../fontes/outono/wmleaves1.TTF)
    format('opentype')
}

@font-face {
    font-family: 'formas';
    src: url(../fontes/e_commerce/E-commerce.ttf)
    format('opentype')
}

/*===============RESPONSIVIDADE===============*/
@media screen and (max-width: 820px) {
    body main section#conteudo table {
        margin-right: 10px;
        width: 380px;
    }
    body main section#conteudo table caption {
        padding: 10px;
    }
    body main section#conteudo table tr td {
        padding: 10px;
    }
    body main section#conteudo table tr td.texto {
        font-size: 18px;
        word-spacing: 2px;
    }
}

@media screen and (max-width: 540px) {
    body header {
        width: 100vw;
        height: 35vh;
        background-color: var(--cor01);
        overflow: hidden;
    }
    body header nav {
        /*background-color: yellow;*/
        display: block;
        width: 235px;
        margin: auto;
        padding: 8px;
    }
    body header nav section#logo {
        text-align: center;
    }
    body header nav ul {
        display: list-item;
        text-align: center;
    }
    body header nav ul li {
        margin-top: 20px;
    }
    body header nav ul li a {
        padding: 15px 30px;
    }
    body main section#conteudo {
        display: block;
    }
    body main section#conteudo table {
        margin: auto;
        width: 90%;
    }
    body main section#conteudo table caption {
        font-size: 24px;
    }
    body main section#conteudo table tr td#inverno p {
        font-size: 90px;
    }
    body main section#conteudo table tr td#primavera p {
        font-size: 75px;
    }
    body main section#conteudo table tr td#verao p {
        font-size: 75px;
    }
    body main section#conteudo table tr td#outono p {
        font-size: 60px;
    }
    body main section#conteudo table tr td.texto {
        font-size: 18px;
        text-align: left;
        padding: 8px;
    }
    body main section#conteudo section#texto {
        width: 95%;
        margin: 20px auto;
    }
    body main section#carrosel div#botoes {
        width: 60px;
    }
    body main section#carrosel div#botoes input.bt {
        width: 20px;
        height: 20px;
    }
    main section#buscas div input.info {
        font-size: 50px;
        height: 100px;
    }
    main section#buscas div input.info:hover {
        font-size: 50px;
    }
}

@media screen and (max-width: 414px) {
    body header {
        width: 100vw;
        height: 30vh;
        background-color: var(--cor01);
        overflow: hidden;
    }
    body header nav {
        /*background-color: yellow;*/
        display: block;
        width: 235px;
        margin: auto;
        padding: 8px;
    }
    body header nav section#logo {
        text-align: center;
    }
    body header nav ul {
        display: list-item;
        text-align: center;
    }
    body header nav ul li {
        margin-top: 20px;
    }
    body header nav ul li a {
        padding: 15px 30px;
    }
    body main section#conteudo {
        display: block;
    }
    body main section#conteudo table {
        margin: auto;
    }
    body main section#conteudo table caption {
        font-size: 24px;
    }
    body main section#conteudo table tr td#inverno p {
        font-size: 90px;
    }
    body main section#conteudo table tr td#primavera p {
        font-size: 75px;
    }
    body main section#conteudo table tr td#verao p {
        font-size: 75px;
    }
    body main section#conteudo table tr td#outono p {
        font-size: 60px;
    }
    body main section#conteudo table tr td.texto {
        font-size: 18px;
        text-align: left;
        padding: 8px;
    }
    body main section#conteudo section#texto {
        width: 95%;
        margin: 20px auto;
    }
    body main section#carrosel div#botoes {
        width: 60px;
    }
    body main section#carrosel div#botoes input.bt {
        width: 20px;
        height: 20px;
    }
    main section#buscas div input.info {
        font-size: 50px;
        height: 100px;
    }
    main section#buscas div input.info:hover {
        font-size: 50px;
    }
}

@media screen and (max-width: 375px) {
    body header {
        width: 100vw;
        height: 39vh;
        background-color: var(--cor01);
        overflow: hidden;
    }
    body header nav {
        /*background-color: yellow;*/
        display: block;
        width: 235px;
        margin: auto;
        padding: 8px;
    }
    body header nav section#logo {
        text-align: center;
    }
    body header nav ul {
        display: list-item;
        text-align: center;
    }
    body header nav ul li {
        margin-top: 20px;
    }
    body header nav ul li a {
        padding: 15px 30px;
    }
    body main section#conteudo {
        display: block;
    }
    body main section#conteudo table {
        margin: auto;
    }
    body main section#conteudo table caption {
        font-size: 24px;
    }
    body main section#conteudo table tr td#inverno p {
        font-size: 90px;
    }
    body main section#conteudo table tr td#primavera p {
        font-size: 75px;
    }
    body main section#conteudo table tr td#verao p {
        font-size: 75px;
    }
    body main section#conteudo table tr td#outono p {
        font-size: 60px;
    }
    body main section#conteudo table tr td.texto {
        font-size: 18px;
        text-align: left;
        padding: 8px;
    }
    body main section#conteudo section#texto {
        width: 95%;
        margin: 20px auto;
    }
    body main section#carrosel div#botoes {
        width: 60px;
    }
    body main section#carrosel div#botoes input.bt {
        width: 20px;
        height: 20px;
    }
    main section#buscas div input.info {
        font-size: 50px;
        height: 100px;
    }
    main section#buscas div input.info:hover {
        font-size: 50px;
    }
}

@media screen and (max-width: 280px) {
    body header {
        width: 100vw;
    }
    body main {
        padding-left: 0;
        padding-right: 0;
    }
    body main section#conteudo table {
        width: 99%;
    }
    body main section#conteudo table tr td.texto {
        font-size: 12px;
    }
    body main section#conteudo table tr td.estacoes {
        padding: 5px;
    }
    body main section#conteudo section#texto {
        width: 92%;
        margin: 20px auto;
    }
}
/*============================================*/

/*
#156117
#77E679
#31E035
#326133
#26AD28
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

:root{
    --cor01: #156117;
    --cor02: #77E679;
    --cor03: #31E035;
    --cor04: #326133;
    --cor05: #1bdfc5;
    
}



body {
    background-color: var(--cor05);
}

/*==============ESTILO DO HEADER==============*/
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor01);
    height: 11vh;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    letter-spacing: 2px;
    margin-left: 12px;
}

header nav ul li a {
    font-weight: bold;
    font-size: 21px;
    color: white;
    text-decoration: none;
    padding: 37px 15px;
    transition-duration: .3s;
}

a#logo01 {
    font-family: 'primavera-verao';
    font-size: 80px;
    text-decoration: none;
    color: white;
}

a#logo02 {
    font-family: 'primavera-verao';
    font-size: 70px;
    text-decoration: none;
    color: white;
}

a#logo03 {
    font-family: 'primavera-verao';
    font-size: 60px;
    text-decoration: none;
    color: white;
}

a#logo04 {
    font-family: 'primavera-verao';
    font-size: 70px;
    text-decoration: none;
    color: white;
}

a#logo05 {
    font-family: 'primavera-verao';
    font-size: 80px;
    text-decoration: none;
    color: white;
}

nav li a:hover {
    background-color: var(--cor05);
}
/*============================================*/


/*===============ESTILO DO MAIN===============*/

/*======HOME======*/
main {
    padding-left: 10px;
    padding-right: 10px;
}
section#conteudo {
    display: flex;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
    max-width: 440px;
    height: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

table caption {
    border-bottom: 2px solid white;
    font-weight: bold;
    font-size: 28px;
    padding: 20px;
}

table tr {
    border-bottom: 2px solid white;
}

table tr td {
    padding: 25px;
}

table tr td.texto {
    font-size: 22px;
    font-weight: bold;
}

table tr td.estacoes p{
    text-align: center;
}

table tr td#inverno p{
    font-family: 'inverno';
    line-height: 120px;
    font-size: 95px;
    cursor: pointer;
}

table tr td#primavera p{
    font-family: 'primavera-verao';
    line-height: 115px;
    font-size: 105px;
    color: green;
    cursor: pointer;
}

table tr td#verao p{
    font-family: 'primavera-verao';
    line-height: 110px;
    font-size: 105px;
    color: rgb(234, 253, 123);
    cursor: pointer;
}

table tr td#outono p{
    font-family: 'outono';
    line-height: 110px;
    font-size: 90px;
    color: orange;
    cursor: pointer;
}

section#texto {
    width: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.37);
}

section#texto img {
    display: block;
    width: 94%;
    padding: 10px 0px;
    margin: 10px auto;
}

section#texto h1 {
    font-size: 1.8em;
}

section#texto h2 {
    font-size: 1.4em;
}

section#texto h1,h2 {
    text-align: center;
}

section#texto p.textoprincipal {
    margin-bottom: 65px;
    text-align: justify;
    padding: 20px 5px;
}

section#texto p.texto {
    text-align: justify;
    padding: 20px 5px;
}

section#texto a.simbolo {
    font-weight: bold;
    color: black;
}

section#texto a.simbolo:after {
    content: '\00A0\1F517'
}

section#texto a.simbolo:hover {
    background-color:var(--cor01);
    color: var(--cor03);
}

abbr {
    text-decoration: none;
}

table tr td.estacoes:hover {
    transform: scale(1.40, 1.40);
}

section#carrosel {
    max-width: 850px;
    margin: 0px auto 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.37);
}

section#carrosel img {
    display: block;
    width: 80%;
    margin: 0px auto 10px auto;
}

section#carrosel div#botoes {
    /*background-color: skyblue;*/
    display: flex;
    width: 90px;
    margin: auto;
    /*padding: 5px;*/
}

section#carrosel div#botoes input.bt {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--cor05);
    transition-duration: .4s;
    cursor: pointer;
}

section#carrosel div#botoes input.bt:hover {
    background-color: var(--cor05);
}
/*================*/

/*=====BUSCAS=====*/
section#buscas {
    background-color: white;
    max-width: 850px;
    /*height: 628px;*/
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.37);
}

section#buscas h1 {
    text-align: center;
}

section#buscas div {
    display: flex;
    /*background-color: blue;*/
    max-width: 815px;
    margin: 10px auto;
}

section#buscas div input.info {
    background-color: var(--cor05);
    border: none;
    width: 200px;
    height: 200px;
}

section#buscas div input.info:hover {
    font-size: 130px;
}

input#inverno {
    font-family: 'inverno';
    font-size: 90px;
    margin-right: 5px;
    transition-duration: .4s;
    cursor: pointer;
    color: white;
}

input#primavera {
    font-family: 'primavera-verao';
    font-size: 90px;
    margin-right: 5px;
    transition-duration: .4s;
    cursor: pointer;
    color: green;
}

input#verao {
    font-family: 'primavera-verao';
    font-size: 90px;
    margin-right: 5px;
    transition-duration: .4s;
    cursor: pointer;
    color: rgb(234, 253, 123);
}

input#outono {
    font-family: 'outono';
    font-size: 90px;
    transition-duration: .4s;
    cursor: pointer;
    color: orange;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

section#buscas div#resultado {
    display: block;
    margin: 59.5px auto;
    width: 100%;
}

div#resultado p#lupa {
    font-family: 'formas';
    font-size: 200px;
    opacity: 40%;
    text-align: center;
}

section#buscas div#resultado h1 {
    text-align: center;
}

section#buscas div#resultado p.textoResultado {
    text-align: justify;
    padding: 30px;
}

section#buscas div#resultado img#ilustra {
    display: block;
    width: 80%;
    margin: 20px auto;
}
/*================*/


/*============================================*/


/*==============ESTILO DO FOOTER==============*/
footer {
    background-color:var(--cor01);
    padding: 8px;
    height: 75px;
}

footer p {
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

footer a {
    color: white;
}
/*============================================*/