@charset "UTF-8";

@font-face {
    font-family: 'formas';
    src: url(../fontes/e_commerce/E-commerce.ttf)
    format('opentype')
}

:root{
    --cor01: #156117;
    --cor02: #77E679;
    --cor03: #31E035;
    --cor04: #326133;
    --cor05: #1bdfc5;
    
}

@media screen and (max-width: 420px) {
    body header {
        height: 126px;
    }
    body header nav li {
        display: block;
        margin: 0px 0px 10px 0px;
        width: 100%;
    }
}

@media screen and (min-width: 320px) {
    body main {
        width: 90.2%;
    }
}

@media screen and (min-width: 375px) {
    body main {
        width: 91.5%;
    }
}

@media screen and (min-width: 850px) {
    body main {
        width: 62%;
    }
}

@media screen and (min-width: 1200px) {
    body main {
        width: 62%;
    }
}

@media screen and (min-width: 1600px) {
    body main {
        width: 41.4%;
    }
}

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor02);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--cor01);
    text-align: center;
    height: 37px;
    padding-bottom: 4px;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 12px;
    line-height: 34px;
    transition-duration: 0.2s;
}

nav li a:hover {
    background-color: var(--cor03);
    color: var(--cor01);
}

main {
    background-color:white;
    margin: 20px auto 20px auto;

    width: 94%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.438);
    padding: 15px 15px 30px 15px;
    flex: 1 0 auto;
}

main h1{
    text-align: center;
}
div#questão {
    text-align: center;
    margin: 40px 0px 20px 0px;
}

div#questão select {
   font-size: 16px;
   padding: 5px;
}

div#questão input {
    font-size: 16px;
    padding: 5px;
}

p#lupa {
    font-family: 'formas';
    font-size: 12em;
    text-align: center;
    margin-top: 40px;
    opacity: 20%;
}

h1#estação {
    margin: 10px;
}

p#textobusca {
    margin-bottom: 40px;
    text-align: justify;
    padding: 1px 20px 1px 20px;
}

img#fotoestação {
    display: block;
    margin: 30px auto 1px auto;
    width: 95%;
}

footer {
    flex-shrink: 0;
    background-color:var(--cor01);
    padding: 8px;
    height: 50px;
}

footer p{
    color: white;
    text-align: center;
    font-weight: bold;
}
